@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke-3 {
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}