@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke-3 {
  text-shadow: 0 0 8px black;
}

.line {
  line-height: 90%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}